#sdb {
    background-color: #ffffff;
}

.lk {
    color: black !important;
    text-decoration: none;
    padding: 1em !important;
}

.lk1 {
    color: black !important;
    text-decoration: none;
    padding: 1em !important;
}

.sidenav---sidenav-toggle---1KRjR {
    background-color: black;
}